/.coverage

/.idea

/.pytest_cache

/docs/build/*
/docs/source/_static/*

/build/
/dist/
/eljef_media.egg-info/
__pycache__/
*.py[cod]

!/docs/build/.dontdelete
!/docs/source/_static/.dontdelete
!/.flake8
!/.gitattributes
!/.gitignore
