# Library dependencies
# pip install -r requirements.txt

#### Required for operation ####
git+https://git.eljef.me/python/eljef_core.git@1.6.0#egg=eljef-core
mutagen
Pillow
rgain3

#### Needed for building ####
build
installer
wheel

#### Needed for linting ####
flake8
pylint

#### Needed for testing ####
pytest

#### Needed for testing coverage ****
pytest-cov
